@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;300;400&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Big Shoulders Display', cursive; */
    font-family: 'Lexend Deca', sans-serif;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main
{
    max-width: 810px;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 330px;
    height: 440px;
}

.box img
{
    padding-left: 2.3rem;
    width: 94px;
}

.box h1
{
    padding: 2.3rem;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 600;
}

.box p
{
    padding-bottom: 2.3rem;
    padding-left: 2.3rem;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 300;
}

.box a
{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    padding: 9px;
    margin-top: 1.5rem;
    margin-left: 40px;
    background-color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.box a:hover
{
    width: 120px;
    height: 40px;
    border: 1px solid white;
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    transition: all 0.6s;
}

.one
{
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.5rem 0 0 0.5rem;
}

.one a
{
    color: hsl(31, 77%, 52%);
}

.two
{
    background-color: hsl(184, 100%, 22%);
}

.two a
{
    color: hsl(184, 100%, 22%);
}

.three
{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.5rem 0.5rem 0;
}

.three a
{
    color: hsl(179, 100%, 13%);
}

.attribution
{
    padding-top: 1rem;
    text-align: center;
    font-size: 11px;
}

.attribution a
{
    text-decoration-color: cyan;
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:768px) {
    main
    {
        max-width: 375px;
        height: 100vh;
    }
    .container
    {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }
    .one
    {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .three
    {
        border-radius: 0 0 0.5rem 0.5rem;
    }
    .attribution
    {
        
        padding: 1rem;
    }
}